<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <h1>Songer App</h1>
    </nav>
</header>
<main>
    <a class="addAlbumAnchor" href="http://localhost:8080/form">Add your own album</a>
    <h1>List of Albums</h1>
    <div class="eachAlbum" th:each="album: ${Albums}" >
        <a  th:href="@{http://localhost:8080/showalbum(id=${album.id})}">Show Album songs</a>
        <div>
            <p>
                The album title :
                <span th:text="${album.title}"></span>
            </p>

        </div>
        <div>
            <p>
                The album artist :
                <span th:text="${album.artist}"></span>
            </p>

        </div>
        <div>
            <p>
                The album song count :
                <span th:text="${album.songCount}"></span>
            </p>

        </div>
        <div>
            <p>
                The album length :
                <span th:text="${album.length}"></span>
            </p>

        </div>
        <img class="cardImage" th:src="${album.imageUrl}"/>

    </div>
</main>
<footer>

</footer>
</body>
</html>