<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <header>

    </header>
    <main>

        <form  th:action="@{/addalbum}" th:object="${album}" method="post">
            <p>Title : <input type="text" field="*{title}" name="title" th:required="required"/></p>
            <p>Artist : <input type="text" field="*{artist}" name="artist"  th:required="required"/></p>
            <p>SongCount : <input type="number" field="*{songCount}"  name="songCount" th:required="required"/></p>
            <p>Length : <input type="number" field="*{length}" name="length" th:required="required"/></p>
            <p>ImageUrl : <input type="text" field="*{imageUrl}" name="imageUrl" th:required="required" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>